<html>
    <head>
        <title>SnD</title>
    </head>
    <body>
        <label>Interface</label>
        <input type="text" value="{{ config.0 }}" disabled><br>
        <label>Current IP</label>
        <input type="text" value="{{ config.1 }}" disabled><br>
        <label>Current MAC</label>
        <input type="text" value="{{ config.2 }}" disabled><br>
        <br>
        <textarea id="activities" style="width: 100%; height: 40vh;"></textarea>
        <textarea id="logs" style="width: 100%; height: 20vh;"></textarea>
        <br><br>
        <button type="button" id="start-sniffer">START</button>
        <button type="button" id="stop-sniffer">STOP</button>
        <script type="text/javascript">
        var ws = new WebSocket('ws://' + document.domain + ':' + location.port + '/ws');
        var _element = document.getElementById('activities');
        var _element2 = document.getElementById('logs');
        var _startButton = document.getElementById('start-sniffer');
        var _stopButton = document.getElementById('stop-sniffer');
        ws.onmessage = function (event) {
            if (String(event.data).slice(0,5) == 'LOG::') {
                _element2.innerHTML += event.data + "\n";
            }
            else {
                _element.innerHTML = event.data;
            }
        };
        ws.onerror = function (event) {
            _startButton.setAttribute('disabled', 'disabled');
            _stopButton.setAttribute('disabled', 'disabled');
            alert('Failed to connect to websocket !');
        };
        ws.onopen = function () {
            _startButton.onclick = function () {
                ws.send('CMD::START');
            };
            _stopButton.onclick = function () {
                ws.send('CMD::STOP');
            };
        };
        </script>
    </body>
</html>